@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type:none;
    text-decoration: none;

}

body,p,h1{
    position: relative;
    margin: 0;
}
  
.main{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 20px;
    background-image: url('./images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-position:center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:  hsl(0, 0%, 100%);
    height: auto;
    
}
  nav{
    display: flex;
    justify-content: space-between;
   
    
}
nav .hambuger-menu{
    display: block;
    margin-top: 8px;
}

nav .nav-list{
    list-style: none;
    display: none;
    justify-content: space-around; 
    margin-top: 10px;
    
    
}

 .brand{
    font-family: 'alata', sans-serif;
    font-weight: 600;
    font-size: 25px;
 
}

nav .nav-link a{
    text-transform: capitalize;
    color:  hsl(0, 0%, 100%);
    font-family: 'josefin sans', sans-serif;
    display: inline-block;
    font-weight: 100;
    margin-right: 25px;
}
.main-content-div{
    margin: 200px 0;
}
 .main-content{
    
    border: 1px solid hsl(0, 0%, 100%);
    width: 330px;
    padding: 30px 30px;
   

    
    
   
}
.main-content h1{
    letter-spacing: 3px;
    font-size: 35px;
    font-weight: 300;
    font-family: 'josefin sans',sans-serif;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    color: white;
    padding: 40px 30px; 
    display:none;
    z-index: 2;
}

.nav-close{
    margin-top:8px;
}


.mobile-menu .top-div{
    display: flex;
    justify-content: space-between;
    
}
.mobile-menu .nav-list{
    margin-top: 50%;

    
}
.mobile-menu .nav-list .nav-link a{
    text-transform: uppercase;
    color:  hsl(0, 0%, 100%);
    font-family: 'josefin sans', sans-serif;
    display: inline-block;
    opacity: 0.9;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 25px;
    letter-spacing: 1px;
    
    
}
.section{
    display: flex;
    flex-direction: column;
     margin: 30% 20px 20% 20px;
}
.vr-div{
    display: flex;
    flex-direction: column;
    font-family: "josefin sans", sans-serif;
    text-align: center;
}

.vr-div .vr-text{
    padding: 0 20px;
}

    .vr-div .vr-text h1{
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 600;
           
    }
    .vr-div .vr-text p{
        margin-top: 20px;
        font-family: "josefin sans", sans-serif;
        font-weight: bolder;
        font-size: 17px;
        color:  hsl(0, 0%, 0%);
        opacity: 0.75;
        line-height:1.5rem;
    
    }
.vr-div img{
    width: 100%;
    margin-bottom: 30px;
}

.creation-div{
    margin-top: 25%;
}
.creation-text h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    font-family: "josefin sans", sans-serif;
    text-align: center;
   
}
.btn-div-m{
    text-align:center;
    margin-top: 50px;
    
}

.see-all{
    text-transform: uppercase;
    padding: 10px 35px;
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
    border: 1px solid  hsl(0, 0%, 0%);
    font-family: 'josefin sans', sans-serif;
    font-weight: 600;
}
.creation-text .see-all-d{
    display: none;
}


.creation-images{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:25px;
    margin-top:10%;
}

.creation-images-div{
            width: 100%;
            height: 150px; 
            color: hsl(0, 0%, 100%);
            position: relative;
        }

.creation-images-div.one{
            background: url(/images/mobile/image-deep-earth.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    }

    
.creation-images-div.two{
    background: url(/images/mobile/image-night-arcade.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
   
.creation-images-div.three{
    background: url(/images/mobile/image-soccer-team.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.creation-images-div.four{
    background: url(/images/mobile/image-grid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.creation-images-div.five{
    background: url(/images/mobile/image-from-above.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.creation-images-div.six{
    background: url(/images/mobile/image-pocket-borealis.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.creation-images-div.seven{
    background: url(/images/mobile/image-curiosity.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.creation-images-div.eight{
    background: url(/images/mobile/image-fisheye.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

 .creation-images-div h1{
            text-transform: uppercase;
            font-size: 30px;
            font-weight: lighter;
            font-family: "josefin sans", sans-serif;
            position:absolute;
            bottom: 20px;
            left: 20px;
           
        }
.footer{
    background-color:hsl(0,0%,0%);
    color:hsl(0,0%,100%) ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'alata' , sans-serif;
    padding: 60px 0;
}
.footer .nav-list{
    text-align: center;
    margin-top:30px;

}

.footer .nav-list .nav-link a{
    text-transform: capitalize;
    color:  hsl(0, 0%, 100%);
    font-family: 'josefin sans', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 20px;
    display: block;
    
    
    
}

.footer-icons{
    text-align: center;
    margin-top:20px;
    margin-bottom: 30px;
}

.footer-icons i{
    margin-right: 10px;
}
.footer-copyright{
    color: hsl(0, 0%, 100%);
    opacity: 0.6;
    font-size: 12px;
    margin-top: 10px;
    font-family: 'alata',sans-serif;
}
@media screen and (min-width: 500px) {
    
    .main{
        display:flex;
        flex-direction: column;
        padding: 70px 40px;
        background-image: url('./images/mobile/image-hero.jpg');
        background-repeat: no-repeat;
        background-position:top left;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color:  hsl(0, 0%, 100%);
        
        
       
     
        
    }
      nav{
        display: flex;
        justify-content: space-between;
       
        
    }
    nav .hambuger-menu{
        display: block;
    }
    
    nav .nav-list{
        list-style: none;
        display: none;
        justify-content: space-around; 
        margin-top: 10px;
        
        
    }
    
     .brand{
        font-family: 'alata', sans-serif;
        font-weight: 600;
        font-size: 25px;
     
    }
    
    nav .nav-link a{
        text-transform: capitalize;
        color:  hsl(0, 0%, 100%);
        font-family: 'josefin sans', sans-serif;
        display: inline-block;
        font-weight: 100;
        margin-right: 25px;
    }
    .main-content-div{
        margin: 200px 0;
    }
    .main-content{
        
        border: 1px solid hsl(0, 0%, 100%);
        width: 400px;
        padding: 30px 40px;
       
    
        
        
       
    }
    .main-content h1{
        letter-spacing: 3px;
        font-size: 35px;
        font-weight: 300;
        font-family: 'josefin sans',sans-serif;
        text-transform: uppercase;
        color: hsl(0, 0%, 100%);
    }
    
    
    .mobile-menu .top-div{
        display: flex;
        justify-content: space-between;
        
    }
    .mobile-menu .nav-list{
        margin-top: 30%;
    
        
    }
    .mobile-menu .nav-list .nav-link a{
        text-transform: uppercase;
        color:  hsl(0, 0%, 100%);
        font-family: 'josefin sans', sans-serif;
        display: inline-block;
        opacity: 0.9;
        font-size: 25px;
        font-weight: lighter;
        margin-bottom: 25px;
        letter-spacing: 1px;
        
        
    }
    
}

@media only screen and (min-width: 750px) {
  
.main{
    display:flex;
    width: 100%;
    flex-direction: column;
    padding: 60px 70px;
    background-image: url('./images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-position:center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:  hsl(0, 0%, 100%);
    height: auto;
    
}
  nav{
    display: flex;
    justify-content: space-between;
   
    
}
nav .hambuger-menu{
    display: none;
}

nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around; 
    margin-top: 10px;
    
    
}

 .brand{
    font-family: 'alata', sans-serif;
    font-weight: 600;
    font-size: 25px;
 
}

nav .nav-link a{
    text-transform: capitalize;
    color:  hsl(0, 0%, 100%);
    font-family: 'josefin sans', sans-serif;
    display: inline-block;
    font-weight: 100;
    margin-right: 25px;
}
.main-content-div{
    margin: 70px 0 40px 0;
}
.main-content{
    
    border: 1px solid hsl(0, 0%, 100%);
    width: 400px;
    padding: 30px 40px;
   

    
    
   
}
.main-content h1{
    letter-spacing: 3px;
    font-size: 35px;
    font-weight: 300;
    font-family: 'josefin sans',sans-serif;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    color: white;
    padding: 40px 30px; 
    display:none;
    z-index: 2;
}

.mobile-menu .top-div{
    display: flex;
    justify-content: space-between;
    
}
.mobile-menu .nav-list{
    margin-top:30%;

    
}
.mobile-menu .nav-list .nav-link a{
    text-transform: uppercase;
    color:  hsl(0, 0%, 100%);
    font-family: 'josefin sans', sans-serif;
    display: inline-block;
    opacity: 0.9;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 25px;
    letter-spacing: 1px;
    
    
}


.section{
    display: flex;
    flex-direction: column;
     margin: 10% 10% 8% 10%;
}
.vr-div{
    display: flex;
    flex-direction: row;
    font-family: "josefin sans", sans-serif;
    position: relative;
   
    
}

.vr-div .vr-image{
    width: 50%;
}

.vr-div .vr-image img{
    width: 100%;
    height: 100%;
}

.vr-div .vr-text{
    
    width: 50%;
    height: 70%;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: absolute;
    right: 90px;
    bottom: -1px;
    

    
   
}
.vr-div .vr-text > div {
    margin-right: -100px;
    position: absolute;
    bottom: 0;
    padding: 0 0 0 5%;
    margin-left: 20px;
    margin-top: 10px;
   
   
   
    
}

    .vr-div .vr-text h1{
            text-transform: uppercase;
            font-size: 29px;
            font-weight: 600;
         
    }
    .vr-div .vr-text p{
        margin-top: 10px;
        font-family: "josefin sans", sans-serif;
        font-weight: bolder;
        font-size: 12px;
        color:  hsl(0, 0%, 0%);
        opacity: 0.75;
        text-align: justify;
        
        
    
    }
.vr-div img{
    width: 100%;
    
}

.creation-div{
    margin-top: 10%;
}
.creation-text{
    display: flex;
    justify-content: space-between;
}
.creation-text h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: lighter;
    font-family: "josefin sans", sans-serif;
    text-align: center;
   
}
.btn-div-m{
    text-align:center;
    margin-top: 50px;
    
}

.see-all{
    text-transform: uppercase;
    padding: 10px 35px;
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
    border: 1px solid  hsl(0, 0%, 0%);
    font-family: 'josefin sans', sans-serif;
    font-weight: 600;
}
.creation-text .see-all-d{
    display:block;
}
.see-all-m {
        display: none;
}


.creation-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:15px;
    margin-top:30px;
}

.creation-images-div{
            width: 100%;
            height: 450px; 
            color: hsl(0, 0%, 100%);
            position: relative;
        }

.creation-images-div.one{
            background: url(/images/desktop/image-deep-earth.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    }

    
.creation-images-div.two{
    background: url(/images/desktop/image-night-arcade.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
   
.creation-images-div.three{
    background: url(/images/desktop/image-soccer-team.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.creation-images-div.four{
    background: url(/images/desktop/image-grid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.creation-images-div.five{
    background: url(/images/desktop/image-from-above.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.creation-images-div.six{
    background: url(/images/desktop/image-pocket-borealis.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.creation-images-div.seven{
    background: url(/images/desktop/image-curiosity.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.creation-images-div.eight{
    background: url(/images/desktop/image-fisheye.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

 .creation-images-div h1{
            text-transform: uppercase;
            font-size: 18px;
            font-weight: lighter;
            font-family: "josefin sans", sans-serif;
            position:absolute;
            bottom: 20px;
            left: 20px;
           
        }

.footer {
    background-color:hsl(hue, saturation, lightness);
    color:hsl(0,0%,100%) ;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    font-family: 'alata' , sans-serif;
    padding: 2% 10%;
}
.footer .nav-list{
    text-align: left;
    display: flex;
    margin-top:10px;

}

.footer .nav-list .nav-link a{
    text-transform: capitalize;
    color:  hsl(0, 0%, 100%);
    font-family: 'josefin sans', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 20px;
    display: block;
    margin-right: 10px;
    
    
    
}

.footer-icons{
    text-align: center;
    margin-top:20px;
    margin-bottom: 30px;
}

.footer-icons i{
    margin-right: 10px;
}
.footer-copyright{
    color: hsl(0, 0%, 100%);
    opacity: 0.6;
    font-size: 12px;
    margin-top: 0;
    font-family: 'alata',sans-serif;
}
}

@media only screen and (min-width: 1000px) {
  
.vr-div .vr-text{
    
    width: 50%;
    height: 70%;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: absolute;
    right: 120px;
    bottom: -1px;
    

    
   
}
  
    .vr-div .vr-text > div {
        margin-right: -100px;
        position: absolute;
        bottom: 0;
        padding: 0 0 0 5%;
        margin-left: 20px;
        margin-top: 10px;
       
       
       
        
    }
    
        .vr-div .vr-text h1{
                text-transform: uppercase;
                font-size: 30px;
                font-weight: 600;
                display: flex;
                align-self: flex-end;
                width: 70%;
             
        }
        .vr-div .vr-text p{
            margin-top: 10px;
            font-family: "josefin sans", sans-serif;
            font-weight: bolder;
            font-size: 18px;
            color:  hsl(0, 0%, 0%);
            opacity: 0.75;
            text-align: justify;
            
            
        
        }
}